.idea
.librarian
.nyc_output
.vagrant
cookbooks
coverage
docs
node_modules
test
tmp

.editorconfig
.gitattributes
.gitignore
.jshintrc
.npmignore
.rvmrc
.travis.yml
Gemfile
Cheffile
Gruntfile.js
package-lock.json
npm-debug.log
Vagrantfile

*.tgz
*.sublime-project
*.sublime-workspace
*.lock
