.idea
.nyc_output
coverage
docs
node_modules
test
tmp

.editorconfig
.gitattributes
.gitignore
.jshintrc
.npmignore
.rvmrc
.travis.yml
Gruntfile.js
package-lock.json
npm-debug.log

*.tgz
*.sublime-*
*.lock
